.footer-bottom-section {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    background:#595957;
    position: relative;
}

.copyright {
    padding-top: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

.footer-bottom .logo-copyright-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 0 2.8rem;
}