<footer>
    <div class="footer-wrappper section-bg" data-background="assets/img/gallery/footer-bg.png">
    
    <div class="footer-area footer-padding">
    <!-- <div class="container">
    <div class="row justify-content-between">
    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="single-footer-caption mb-30">
    
    <div class="footer-logo mb-25">
    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
    </div>
    <div class="footer-tittle">
    <div class="footer-pera">
    <p>The automated process starts as soon as your clothes go into the machine.</p>
    </div>
    </div>
    
    <div class="footer-social">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-pinterest-p"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Our solutions</h4>
    <ul>
    <li><a href="#">Design & creatives</a></li>
    <li><a href="#">Telecommunication</a></li>
     <li><a href="#">Restaurant</a></li>
    <li><a href="#">Programing</a></li>
    <li><a href="#">Architecture</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Company</h4>
    <ul>
    <li><a href="#">Design & creatives</a></li>
    <li><a href="#">Telecommunication</a></li>
    <li><a href="#">Restaurant</a></li>
    <li><a href="#">Programing</a></li>
    <li><a href="#">Architecture</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
    <div class="single-footer-caption mb-50">
    <div class="footer-tittle">
    <h4>Support</h4>
    <ul>
    <li><a href="#">Design & creatives</a></li>
    <li><a href="#">Telecommunication</a></li>
    <li><a href="#">Restaurant</a></li>
    <li><a href="#">Programing</a></li>
    <li><a href="#">Architecture</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div> -->
    
    <div class="testimonials-clean">
        <div class="container">
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="testimonial-title">
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <q>It surpassed our expectations</q>
                    </div>
                    <div class="note">
                        <p class="description"> <q> Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est. </q> </p>
                    </div>
                    <div class="author">
                        <img class="rounded-circle" src="assets/img/blog/2.jpg">
                        <div class="title-name">
                        <h5 class="name">Tania Y. </h5>
                        <p class="title">Flexi Content @Hello</p>
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="testimonial-title">
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                        <q> The essential marketing tool</q>
                    </div>
                    <div class="note">
                        <p class="description"><q> Filed is the most valuable business resource we have EVER purchased. I was amazed at the quality of filed. We were treated like royalty. </q></p>
                    </div>
                    <div class="author">
                        <img class="rounded-circle" src="assets/img/blog/1.jpg">
                        <div class="title-name">
                        <h5 class="name">Jack Francis Manager </h5>
                        <p class="title">@ Accidents Direct</p>
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="testimonial-title">
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <q> Your company is truly upstanding </q>
                    </div>
                    <div class="note">
                        <p class="description"><q> The service was excellent. After using filed my business skyrocketed! It really saves me time and effort. </q></p>
                    </div>
                    <div class="author">
                        <img class="rounded-circle" src="assets/img/blog/3.jpg">
                        <div class="title-name">
                        <h5 class="name">Dawna N. </h5>
                        <p class="title">Editor @ Museum of Typography</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    

    </div>
    </footer>